.NavBar {
    padding: .77rem 0;
    background-color: rgb(228, 96, 8);
    opacity: 0.9;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.88rem;
    color: rgb(0, 0, 0);
  } 
  

