
  .nav-style {
    text-align: center;
    background-color:  rgb(228, 96, 8);
    font-size: 15px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    color: black;
  }
  
  .nav-style li {
    color: rgb(172, 127, 127);
    color: rgb(0, 255, 242);
    font-family:'Poppins', sans-serif;
    list-style: none;
    display: inline;
    margin: 0 60px;
  }
  
  .nav-style a:links {
    color: burlywood;
    text-decoration:mediumseagreen;
  }
  
  
  

  /* position: fixed;
    display: flex;
    justify-content: space-between;
    width: 96%;
    padding: 10px 2%;
    background-color: white;
    align-items: center;
    font-size: 25px; */