.PlaylistPlayer {
    height: 100%;
    padding: 5% 50% 40% 37%;
    background-size: cover;
    background-position: center;
    background-image: url("pawel-czerwinski-JEV7CrJTUNE-unsplash.jpg");
    background-repeat: no-repeat;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
  }
