.PlaylistPlayer {
    height: 100%;
    padding: 5% 50% 10% 35%;
    background-size: cover;
    background-position: center;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
  }
